/* Mason Grid Styles */
.mason-wrapper {
    background: rgba(128, 128, 128, 0.07);
    width: 95%;
    margin: 0 auto;
    padding: 8em 4em;
}

div#masonry {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

.flex-img-wrapper {
    width: 48%;
    transition: 0.8s opacity;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;

    img {
      padding: 2rem;
      width: 300px;
    }
}



div#masonry:hover div {
    opacity: 0.3;
}

div#masonry:hover div:hover {
    opacity: 1;
}

.port-links {
  text-decoration: none;
}
