/* Page Content Styles */
.page-content-wrapper {
    .page-content {
      width: 95%;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: calc(2.4em + 4px);
      line-height: calc(2em + 4px);
      padding: 40px 100px;
      margin: 0 auto;
      border-radius: 8px;

        .flex-item {
            text-align: center;
        }
    }
}

.signature {
    float: right;
    font-size: calc(2rem + 8px);
}

.hideme {
  opacity: 0;
  position: relative;
  top: 6em;
}
