/* Page Intro Styles */
.page-intro {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: calc(4em + 2px);
    padding: 100px;

    .flex-item {
      text-align: center;
    }
}
