/* Page Header Styles */
.page-header-cs {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .flex-item {}
}

#ockupy-header {
    .flex-item {
        .title-square {
            color: white;
            font-size: calc(20em + 8px);
            transition: all .8s ease-in-out;
            text-transform: uppercase;
        }
    }
}

#portfolio-header {
    .flex-item {
        .title-square {
            color: black;
            font-size: calc(10em + 8px);
            transition: all .8s ease-in-out;
        }
    }
}
